.DS_Store
.env
.venv
.vscode
.cursor
.pytest_cache

# Compiled Python files
*.py[cod]
**/__pycache__/

# Log files
*.log

# Backup and temporary files
*~
*.bak
*.swp
*.tmp

# Ignore the config/hosts.txt if it's environment-specific
# config/hosts.txt

*.pdf


# Ignore the config/config.yaml if it's environment-specific
config/**

