certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.0
Deprecated==1.2.15
flake8==7.1.1
idna==3.10
mccabe==0.7.0
pycodestyle==2.12.1
pycparser==2.22
pyflakes==3.2.0
PyGithub==2.5.0
PyJWT==2.10.1
PyNaCl==1.5.0
PyYAML==6.0.2
requests==2.32.3
schedule==1.2.2
typing_extensions==4.12.2
urllib3==2.2.3
wrapt==1.17.0

# Vulnerable packages
django==1.11.29 # This version of Django has known vulnerabilities (e.g., CVE-2020-7471).
flask==0.12.2   # This version of Flask has known issues and is flagged in vulnerability databases.
jinja2==2.7     # Older versions of Jinja2 contain vulnerabilities like CVE-2016-10745.
